src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cassandradbcql="http://www.mulesoft.org/schema/mule/cassandradbcql"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/cassandradbcql http://www.mulesoft.org/schema/mule/cassandradbcql/1.0-SNAPSHOT/mule-cassandradbcql.xsd">

    <cassandradbcql:config username="root" host="localhost" keyspace="minely">
    	<cassandradbcql:local-pooling-options coreConnectionsPerHost="5" maxConnectionsPerHost="15" minSimultaneousRequestsPerConnectionThreshold="50" maxSimultaneousRequestsPerConnectionThreshold="150" />
    	<cassandradbcql:remote-pooling-options coreConnectionsPerHost="2" maxConnectionsPerHost="15" minSimultaneousRequestsPerConnectionThreshold="10" maxSimultaneousRequestsPerConnectionThreshold="50" />
    </cassandradbcql:config>

    <flow name="testFlow">
    	<logger level="INFO" message="#[message.payload]"/>
        <cassandradbcql:select cql="Select * from vatrates where id = ?">
        	<cassandradbcql:params>
        		<cassandradbcql:param>java.util.UUID.fromString(payload['id'])</cassandradbcql:param>
        	</cassandradbcql:params>
        </cassandradbcql:select>
        <logger level="INFO" message="#[message.payload]"/>
    </flow>

</mule>
